:root {
  --primary-color: #383d40;
  --font-size-primary: 18px;
  --color-blue-main: #277cfb;

  /* --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --header-sort-bar-height: 46px; */
}

body {
  padding: 0px;
}

img {
  display: inline;
}

* {
  box-sizing: inherit;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0 !important;
}

.w-main {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.w-1000 {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

.wrapper-header {
  background-color: var(--primary-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  width: 80%;
  margin: 0 auto;
}

.header__icon {
  flex: 1;
}

.header__menu {
  flex: 2;
  margin-right: 25%;
}

.header__menu-items {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: var(--font-size-primary);
  margin: 0;
}

.carousel-indicators li {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

.carousel-indicators .active {
  background-color: #383d40;
}

.wrapper-video {
  padding: 50px 0px;
}

.app_for_custo {
  margin-bottom: 5%;
}

.app_for_custo__wrapper {
  display: flex;
  align-items: center;
}

.app_for_custo__content {
  margin-left: 8%;
}

.app_for_custo__content-title {
  font-weight: 600;
  font-size: 35px;
}

.app_for_custo__content--description {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.app_for_custo__content--dowload-app {
  display: flex;
  margin-bottom: 3%;
}

.app_for_custo__content--app-store {
  margin-left: 6%;
}

.app_for_custo__content--wrapper--see-more {
  text-align: center;
}

.app_for_custo__content--see-more {
  color: var(--color-blue-main);
  text-decoration: underline;
  margin-right: 17%;
}

.see-more-icon {
  margin-left: 1%;
}

.wrapper_feature {
  padding: 5%;
  background-color: #f2f8ff;
}

.wrapper_features_items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-title {
  text-align: center;
  margin-bottom: 56px;
}

.features-item-list {
  margin-left: 9%;
}

.app_for_bussiness__content {
  margin-right: 8%;
}

.title {
  text-align: center;
  font-weight: 800;
}

.choose-us {
  margin-bottom: 5%;
}

.choose-us__wrapper-description {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 0%;
  margin-bottom: 3%;
}

.choose-us__description {
  width: 50%;
}

.choose-us__items {
  display: flex;
  justify-content: space-between;
}

.choose-us__item {
  flex: 1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 18px 0px;
  text-align: center;
  border-radius: 10px;
  margin: 0 20px;
}

.choose-us__item--icon {
  padding-bottom: 30px;
  padding-top: 10px;
}

.choose-us__item--title {
  font-weight: 700;
  font-size: 24px;
}

.slick-disabled {
  color: white !important;
  background-color: #e2e2e2 !important;
}

.slick-arrow {
  top: -10%;
  background-color: #277cfb;
  border-radius: 5px;
}

.slick-prev {
  right: 66px;
  left: unset;
}

.image-item {
}
.image-item-wrapper .slick-initialized .slick-slide {
  /* margin-right: -10px; */
}

.image-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 14.5rem;
  height: 18rem;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 4%);
  border-radius: 5%;

  margin: 12px 24px;
}

.image-item-wrapper img {
  display: inline-block;
}

.learn-more-title {
  font-weight: 500;
  margin-left: 20px;
  margin-top: 6%;
  margin-bottom: 3%;
}

.slick-dots {
  list-style-type: none;
}

.see-more-button {
  width: 80%;
  height: 40px;
  border: none;
  background: #277cfb;
  color: white;
  font-size: 14px;
  border-radius: 30px;
  margin-top: 15%;
}

.top-business__items {
  display: flex;
}

.top-business__item {
  margin: 0 10px;
  flex: 1;
}

.top-business {
  margin-top: 8px;
  margin-bottom: 5rem;
}

.business-feedback__items {
  display: flex;
  flex: 1;
  margin-bottom: 5%;
}

.business-feedback__item {
  padding: 3%;
  margin: 4px 8px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.07);
}

.two_iphone_img {
  margin-right: 36px;
  margin-left: -92px;
}

.app_for_custo__content--see-more.app_for_mange {
  margin: unset;
}

.business-feedback__info {
  display: flex;
  align-items: center;
  margin-bottom: 3%;
}

.business-feedback__info--name {
  margin-left: 6%;
}

.business-feedback__name {
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.02em;
  margin: 0;
}

.business-feedback__employee {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

.business-feedback__content {
  margin-top: 6%;
  margin-bottom: 6%;
}
