:root {
  --primary-color: #383d40;
  --font-size-primary: 18px;
  --color-blue-main: #277cfb;

  /* --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --header-sort-bar-height: 46px; */
}

* {
  box-sizing: border-box;
}

body {
  padding: 0px;
}

img {
  display: inline;
}

* {
  box-sizing: inherit;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0 !important;
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.w-main {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.w-1000 {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

.wrapper-header {
  background-color: var(--primary-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  width: 80%;
  margin: 0 auto;
}

.header__icon {
  flex: 1;
}

.header__menu {
  flex: 2;
  margin-right: 28%;
}

.header__menu-items {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: var(--font-size-primary);
  margin: 0;
}

.carousel-indicators li {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

.carousel-indicators .active {
  background-color: #383d40;
}

.wrapper-video {
  padding: 50px 0px;
  text-align: center;
}

.wrapper-video video {
  width: min(93vw, 1120px);
}

.app_for_custo {
  margin-bottom: 5%;
}

.app_for_custo__wrapper {
  display: flex;
  align-items: center;
}

.app_for_custo__content {
  margin-left: 8%;
}

.app_for_custo__content-title {
  font-weight: 600;
  font-size: 35px;
}

.app_for_custo__content--description {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.app_for_custo__content--dowload-app {
  display: flex;
  margin-bottom: 3%;
}

.app_for_custo__content--app-store {
  margin-left: 6%;
}

.app_for_custo__content--wrapper--see-more {
  text-align: center;
}

.app_for_custo__content--see-more {
  color: var(--color-blue-main);
  text-decoration: underline;
  margin-right: 5%;
  font-size: 20px;
}

.see-more-icon {
  margin-left: 1%;
}

.wrapper_feature {
  padding: 5%;
  background-color: #f2f8ff;
}

.wrapper_features_items {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 5%;
}

.feature-title {
  text-align: center;
  margin-bottom: 10%;
}

.features-item-list {
  margin-left: 9%;
}

.app_for_bussiness__content {
  margin-right: 8%;
  flex: 1;
}

.app_for_bussiness__image {
  flex: 1;
}

.title {
  text-align: center;
  font-weight: 800;
  font-size: 35px;
}

.choose-us {
  margin-bottom: 5%;
}

.choose-us__wrapper-description {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 0%;
  margin-bottom: 3%;
  font-size: 18px;
}

.choose-us__description {
  width: 50%;
}

/* .choose-us__items {
  display: flex;
  justify-content: space-between;
} */

.choose-us__item {
  flex: 1;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.07);
  padding: 18px 0px;
  text-align: center;
  border-radius: 10px;
  margin: 4px 20px;
}

.choose-us__item--icon {
  padding-bottom: 30px;
  padding-top: 10px;
}

.choose-us__item--title {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.01em;
}

.slick-disabled {
  color: white !important;
  background-color: #e2e2e2 !important;
}

.slick-arrow {
  top: -10%;
  background-color: #277cfb;
  border-radius: 5px;
}

.slick-prev {
  right: 66px;
  left: unset;
}

.image-item {
}
.image-item-wrapper .slick-initialized .slick-slide {
  /* margin-right: -10px; */
}

.image-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 13.5rem;
  height: 18rem;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.07);
  border-radius: 5%;

  margin: 20px 20px;
}

.image-item-wrapper img {
  display: inline-block;
}

.learn-more-title {
  margin-left: 20px;
  margin-top: 6%;
  margin-bottom: 3%;
  font-weight: 500;
  font-size: 35px;
  line-height: 48px;
}

.slick-dots {
  list-style-type: none;
}

.see-more-button {
  width: 80%;
  height: 40px;
  border: none;
  background: #277cfb;
  color: white;
  font-size: 14px;
  border-radius: 30px;
  margin-top: 15%;
}

.top-business__item {
  margin: 0 10px;
  flex: 1;
  text-align: center;
}

.top-business {
  margin-top: 24px;
  margin-bottom: 5rem;
}

.business-feedback {
  margin-bottom: 13rem;
}

.business-feedback__items {
  display: flex;
  flex: 1;
  margin-bottom: 5%;
}

.business-feedback__item {
  padding: 3%;
  margin: 8px 15px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.07);
  border-radius: 12px;
}

.two_iphone_img {
  margin-right: 36px;
  margin-left: -38px;
  flex: 1;
}

.app_for_custo__content--see-more.app_for_mange {
  margin-right: 12%;
}

.choose-us__items .slick-prev {
  left: 0;
}

.choose-us__items .slick-arrow {
  top: 50%;
  background-color: #00000024;
}

.business-feedback__items .slick-prev {
  left: 0;
}

.business-feedback__items .slick-arrow {
  top: 50%;
  background-color: #00000024;
}

.top-business__items .slick-prev {
  left: 0;
}

.top-business__items .slick-arrow {
  top: 50%;
  background-color: #00000024;
}

.business-feedback__info {
  display: flex;
  align-items: center;
  margin-bottom: 3%;
}

.business-feedback__info--name {
  margin-left: 6%;
}

.business-feedback__name {
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.02em;
  margin: 0;
}

.business-feedback__employee {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

.business-feedback__content {
  margin-top: 6%;
  margin-bottom: 6%;
}

.contact-us {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.103);
  border-radius: 10px;
  max-width: 70vw;
  min-height: 170px;
  flex-wrap: wrap;
  background-color: white;
  position: absolute;
  bottom: 90%;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
}

.contact-us-your-mail {
  display: flex;
  align-items: center;
  padding: 0px 5%;
  flex-wrap: wrap;
}

.contact-us-title {
  padding-left: 5%;
}
.contact-us-sub-title {
  color: #1212364d;
  word-break: normal;
  width: 70%;
}
.contact-us-mail-input {
  display: block;
  flex: 1;
  height: 20px;
  border: #c1bebe solid 1px;
  border-radius: 5px 0px 0px 5px;
  outline: none;
  padding: 10px;
}

.contact-us-send-mail {
  height: 41px;
  flex: 0.4;
  border: none;
  width: 100px;
  background-color: #277cfb;
  color: white;
  border-radius: 0px 5px 5px 0px;
}

.wrapper-footer {
  background-color: var(--primary-color);
  width: 100%;
  /* height: 400px; */
  position: relative;
}

.wrapper-info-page {
  margin-top: 50px;
  color: white;
  text-align: center;
}

.info-page__network {
  display: flex;
}

.wrapper-info {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin-bottom: 3%;
  margin-top: 1%;
  flex-wrap: wrap;
}

.info-page__follow-us {
  text-align: left;
  margin: 14px 0;
}

.info-page-brandname {
}

.footer_licen {
  margin: 40px 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}

.mobile-menu-btn {
  color: white;
  font-size: 24px;
  padding: 12px;

  display: none;
}

.app_for_custo__image {
  flex: 1;
}

.app_for_custo__content {
  flex: 1;
}

.info-page__info-item {
  text-align: left;
  margin: 0 5px;
  margin: 0px 6% 0px;
}

.star_5 {
  margin: 7% 0px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  color: black;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: -20px;
  right: 20px;
  margin-left: 50px;
  color: white;
  font-size: 4rem;
}

a.menu__header {
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: #277cfb;
  color: white;
  font-weight: 700;
  font-size: 1.5rem !important;
  line-height: 41px;
}

.dflex {
  display: flex;
}

.features-item__number {
  color: #277cfb;
  border: 2px solid #277cfb;
  border-radius: 50%;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  width: 25px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.features-item__arrow {
  margin-left: 2%;
  margin-top: 7%;
}

.features-item-descript {
  margin-left: 5%;
}

.features-item-descript__header {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.02em;
}

.features-item-descript__below {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #666666;
}

.features-item-img-iphone-12 {
  margin-left: 9%;
  height: 550px;
}

.features-item-1 {
  margin-top: 1%;
}

.features-item-list-wrapper {
  flex: 1;
}

.features-item__arrow {
  width: 100%;
}

.features-item__number.active {
  color: white;
  background-color: #277CFB;
}

.features-item-descript.active .features-item-descript__header {
  color: #277CFB;
}


@media only all and (max-width: 478px) {
  .sidenav a {
    font-size: 18px;
  }

  .image-item-wrapper {
    min-width: 15rem;
    width: 89vw;
  }

  .image-slider .slick-prev {
    visibility: hidden;
  }

  .image-slider .slick-arrow {
    visibility: hidden;
  }

  .header__icon {
    display: none;
  }

  .mobile-menu-btn {
    display: block;
  }

  .header__menu-items {
    display: none;
  }

  .wrapper-info-page {
    width: 100vw;
  }

  .wrapper-info {
    margin-top: 5%;
  }

  .app_for_custo__image {
    text-align: center;
  }

  .info-page__info-item {
    margin: 0 5px;
  }

  .business-feedback__item {
    padding: 1%;
  }

  .app_for_custo__wrapper {
    flex-direction: column;
  }

  .app_for_custo__content {
    padding: 0 16px;
  }

  .app_for_bussiness__content {
    margin-right: 0px;
    padding: 0 16px;
  }

  .app_for_custo__content--description {
    text-align: justify;
  }

  .header {
    height: 8vh;
  }

  .wrapper-video {
    padding: 26px 0px;
  }

  .two_iphone {
    max-width: 90%;
  }

  .two_iphone_img {
    max-width: 90%;
    margin: unset;
  }

  .app_for_custo__content-title {
    text-align: center;
  }

  .app_for_bussiness__image {
    text-align: center;
  }

  .app_for_custo__content--see-more.app_for_mange {
    margin: unset;
  }

  .choose-us__wrapper-description {
    display: block;
  }

  .features-item-img-iphone-12 {
    margin-left: unset;
  }

  .wrapper_features_items {
    flex-direction: column;
    align-items: center;
  }

  .features-item-list {
    margin-left: unset
  }
}

@media only all and (max-width: 870px) {
  .sidenav a {
    font-size: 18px;
  }

  /* .app_for_bussiness__image {
    display: none;
  } */

  .app_for_bussiness__content {
    margin-right: 0px;
    padding: 0 16px;
  }

  .app_for_custo__image {
    text-align: center;
  }

  .app_for_custo__content {
    margin-left: 0px;
    padding: 0 16px;
  }

  .header__icon {
    display: none;
  }

  .mobile-menu-btn {
    display: block;
  }

  .header__menu-items {
    display: none;
  }

  /* .choose-us__items {
    flex-direction: column;
  } */

  .choose-us__items .choose-us__item {
    margin-bottom: 1rem;
  }

  .app_for_custo__content--see-more {
    margin-right: 0px;
  }

  .wrapper-info-page {
    width: 100vw;
  }

  .wrapper-info {
    margin-top: 5%;
  }

  .info-page__info-item {
    margin: 0 5px;
  }

  .business-feedback__item {
    padding: 1%;
  }

  .app_for_custo__wrapper {
    flex-direction: column;
  }

  .app_for_custo__content--description {
    text-align: justify;
  }

  .header {
    height: 8vh;
  }

  .wrapper-video {
    padding: 26px 0px;
  }

  .two_iphone {
    max-width: 90%;
  }

  .two_iphone_img {
    max-width: 90%;
    margin: unset;
  }

  .app_for_custo__content-title {
    text-align: center;
  }

  .app_for_bussiness__image {
    text-align: center;
  }

  .app_for_custo__content--see-more.app_for_mange {
    margin: unset;
  }

  .choose-us__wrapper-description {
    display: block;
  }

  .features-item-img-iphone-12 {
    margin-left: unset;
  }

  .wrapper_features_items {
    flex-direction: column;
    align-items: center;
  }

  .features-item-list {
    margin-left: unset
  }
}
